<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--/*@thymesVar id="pageTitle" type="String"*/-->
	<title th:text="#{global.page.title} + (${pageTitle} != null ? ' | ' + ${pageTitle} : '')" />

	<!--/*  Favicon  */-->
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

	<!--/*  Tailwind CSS (purged + minified)  */-->
	<link rel="stylesheet" th:href="@{/css/tailwind.min.css}">

	<!--/*  FontAwesome Icons  */-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

	<!--/*  Google Fonts  */-->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">

	<!--/*  Custom Styles  */-->
	<th:block th:replace="~{layouts/fragments/styles :: styles}" />
</head>
</html>
